<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<ul>
<li> <%= @restaurant.name %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number %></li>
<li><%= @restaurant.category %></li>
</ul>

